<div class="container">

  <form (ngSubmit)="processFormAddress()">
    <div class="form group">
      <input type="text" name="id" class="form-control" [(ngModel)]="address.address_Id">
    </div>
    <div class="form group">
      <label for="address">First Name</label>
      <input type="text" name="address" class="form-control" [(ngModel)]="address.address">
    </div>
    <div class="form group">
      <label for="suburb">Last Name</label>
      <input type="text" name="suburb" class="form-control" [(ngModel)]="address.suburb">
    </div>
    <div class="form group">
      <label for="postal_Code">Last Name</label>
      <input type="text" name="postal_Code" class="form-control" [(ngModel)]="address.postal_Code">
    </div>
    <div class="form group">
      <label for="phone_No">Last Name</label>
      <input type="text" name="phone_No" class="form-control" [(ngModel)]="address.phone_No">
    </div>
    <div class="form group">
      <label for="city_Id">Last Name</label>
      <input type="text" name="city_Id" class="form-control" [(ngModel)]="address.city_Id">
    </div>
    <input type="submit" value="save" class="btn btn-success">
  </form>
</div>

