<div class="container">

  <table class="table table-striped">
    <thead>
    <th>City Id</th>
    <th>City Name</th>
    <th>Last Update</th>
    <th>Country Id</th>
    </thead>
    <tbody>
    <tr *ngFor="let Cities of cities">
      <td>{{Cities.city_Id}}</td>
      <td>{{Cities.city_Name}}</td>
      <td>{{Cities.last_Update}}</td>
      <td>{{Cities.country_Id}}</td>
      <td><button class="btn btn-danger" (click)="deleteCity(Cities)">Delete</button>
        <button class="btn btn-primary" (click)="updateCity(Cities)">Edit</button></td>

    </tr>
    </tbody>
  </table>
  <button class="btn btn-primary" (click)="newCity()">New City</button>
</div>
