<div class="container">

  <form (ngSubmit)="processFormCustomer()">
    <div class="form group">
      <label for="first_Name">first_Name</label>
      <input type="text" name="first_Name" class="form-control" [(ngModel)]="customer.first_Name">
    </div>

    <div class="form group">
      <label for="last_Name">last_Name</label>
      <input type="text" name="last_Name" class="form-control" [(ngModel)]="customer.last_Name">
    </div>

    <div class="form group">
      <label for="email">email</label>
      <input type="text" name="email" class="form-control" [(ngModel)]="customer.email">
    </div>

    <div class="form group">
      <label for="active">active</label>
      <input type="text" name="active" class="form-control" [(ngModel)]="customer.active">
    </div>


    <div class="form group">
      <label for="address_Id">address_Id</label>
      <input type="text" name="address_Id" class="form-control" [(ngModel)]="customer.address_Id">
    </div>

    <input type="submit" value="save" class="btn btn-success">
  </form>
</div>

