<div class="container">

  <form (ngSubmit)="processFormCity()">
    <div class="form group">
    </div>
    <div class="form group">
      <label for="city_Name">city_Name</label>
      <input type="text" name="city_Name" class="form-control" [(ngModel)]="city.city_Name">
    </div>
    <div class="form group">
      <label for="country_Id">country_Id</label>
      <input type="text" name="country_Id" class="form-control" [(ngModel)]="city.country_Id">
    </div>
    <input type="submit" value="save" class="btn btn-success">
  </form>
</div>

